{% if page.meta.comments != false %}
  <script src="https://giscus.app/client.js"
        data-repo="Gongzihang6/Algorithm-Introduction-Questions"
        data-repo-id="R_kgDOOJYVMA"
        data-category="General"
        data-category-id="DIC_kwDOOJYVMM4C0KG2"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
  </script>
{% endif %}
